<footer>
	<div class="container p-20px">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				&copy; {{ 'year' }} &bull; {{ 'full-name' }}
				<span class="hidden-xs">&bull;</span> <br class="visible-xs"/>
				{{ 'street' }} n. {{ 'number' }} int.
				{{'int' }} <span class="hidden-xs">&bull;</span>
				{{ 'zip' }} {{ 'city' }}
				({{'prov' }}) <span class="hidden-xs">&bull;</span>
				{{ 'vat_abbr' }} {{ 'vat' }}
			</div><!-- /.col-md-6 -->

			<div class="col-md-6 col-xs-12 text-right">
				<div class="row mb-10px">
					<div class="col-md-12">
						<em>{{ 'Page loaded in'|_ }}<span
								class="label label-success ml-5px mr-5px">{{ 'timer' }}</span>
								{{ 'seconds'|_ }}</em>
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				{% partial "powered" %}
			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</footer>