<!-- powered -->
<div class="row" id="powered">
	<div class="col-md-4 col-xs-12 text-center">
		<a href="http://www.alexcarrega.com" target="_blank" data-tooltip title="{{ 'Powered by :axc'|_({ axc: 'AxC' }) }}">
			<img class="img-rounded mt-30px" src="{{ 'axc_logo' }}"
				alt="{{ 'Powered by :axc'|_({ axc: 'AxC' }) }}" /></a>
	</div><!-- /.col-md-4.col-xs-12 -->
	<div class="col-md-4 col-xs-12 text-center">
		<a href="http://pwf.alexcarrega.com" target="_blank" data-tooltip
			title="{{ 'Developed with :pwf'|_({ pwf: 'PWF' }) }}">
			<img src="{{ 'pwf_logo'}}"
				alt="{{ 'Developed with :pwf'|_({ pwf: 'PWF' }) }}" /></a>
	</div><!-- /.col-md-4.col-xs-12 -->
	<div class="col-md-4 col-xs-12 text-center">
		<a href="http://www.pc-repair.it" target="_blank" data-tooltip
			title="{{ 'Developed by :pc_repair'|_({ pc_repair: 'Pc-Repair' }) }}">
			<img class="img-rounded mt-30px" src="{{ 'pc_repair_logo' }} ?>"
				alt="{{ 'Developed by :pc_repair'|_({ pc_repair: 'Pc-Repair' }) }}" /></a>
	</div><!-- /.col-md-4.col-xs-12 -->
</div><!-- /.row#powered -->
<!-- /powered -->